body{
    background: url(https://www.geeklawblog.com/wp-content/uploads/sites/528/2018/12/liprofile-656x369.png) center center no-repeat;
    background-size: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.outer {
    width: 80%;
    /* height: 16px; */
    background: rgba(255,255,255, 0.8);
    margin: 6px auto;
    border-radius: 3px;
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 8px;
}

.navigation li {
    padding: 5px;
}

.navigation li a {
    text-decoration: none;
    color: gray;
}

