
body{
    padding: 0;
    margin: 0;
    background: floralwhite;
}

.marksheet{
    border: 1px solid lightblue;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}