
body{
    padding: 0;
    margin: 0;
}

div#picker {
    width: 100vw;
    height: 100vh;
    background: pink;
    position: relative;
}

#canvas{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 400px;
    height: 400px;
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    /* border-radius: 50%; */
}

/*  how to change mouse pointer over a div */
/* https://www.w3schools.com/cssref/pr_class_cursor.asp */
#pallet{
    cursor: pointer;
}