.card{
    width: 300px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.card img{
    width: 100%;
}

.heading{
    text-transform: uppercase;
}