#flexbox1{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row;
    justify-content: space-around;
}

#flexbox1 div{
    /* width: 300px; */
    /* height: 30px; */
    /* float: left; */
    /* font-size: 8rem; */
}


