.outer{


    /* 
        Gradient References with link
        https://css-tricks.com/css3-gradients/
     */



    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(black, pink, blue, yellow); */
    /* background: linear-gradient(to right, black, pink, blue, yellow); // to right, to left, to top, to bottom */
    /* background: linear-gradient(to top left, pink, blue);
        to top right
        to top left
        to bottom left
        to bottom right
        to bottom right
        

    */
    /* background: linear-gradient(-120deg, pink, blue, yellow); 
        > 90 
        < 90 
        negative 
        positive

    */

    /* background : linear-gradient(to right, red, #f06d06, rgb(255, 25, 0), green); */

    /* background : linear-gradient(to left, yellow 10%, blue 10%, pink 10%); */

    /* background : radial-gradient(yellow,#f06d06, blue); */

    /* background : radial-gradient(circle, #f06d06, blue); */

    /* background: radial-gradient(circle closest-side,yellow,#f06d06); */

    /* background: radial-gradient(circle at bottom right,yellow,#f06d06); */

    /* background: conic-gradient(#fff, #000); */

    /* Original example */
    /* background-image: conic-gradient(#fff, #000); */
    /* Explicitly state the location center point */
    /* background: conic-gradient(at 10% 10%, #fff, #000); */
    /* Explicitly state the angle of the start color */
    /* background: conic-gradient(from 180deg, #fff, #000); */
    /* Explicitly state the angle of the start color and center point location */
    /* background: conic-gradient(from 180deg at left, #fff, #000); */
    /* Explicitly state the angles of both colors as percentages instead of degrees */
    /* background: conic-gradient(#fff 10%, #000 50%); */
    /* Explicitly state the angle of the starting color in degrees and the ending color by a full turn of the circle */
    /* background: conic-gradient(#fff 0deg, #000 2turn); */

    /* background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red); */

    /* background: repeating-linear-gradient( 40deg, yellow, yellow 10px, red 10px, red 20px determines size    ); */

    /* background: repeating-radial-gradient(circle at 0 0, #eee,#ccc 50px); */


    
}

.inner{

}