
@font-face {
    font-family: 'Qahiri';
    /* font-style: italic; */
    /* font-weight: 300; */
    /* font-display: swap; */
    src: url(./Qahiri/Qahiri-Regular.ttf);
}

@font-face {
    font-family: 'ABC';
    font-style: italic;
    /* font-weight: 300; */
    /* font-display: swap; */
    src: url(./Open_Sans_Condensed/OpenSansCondensed-LightItalic.ttf);
}

@font-face {
    font-family: 'ABC';
    /* font-style: italic; */
    font-weight: bold;
    /* font-display: swap; */
    src: url(./Open_Sans_Condensed/OpenSansCondensed-Bold.ttf);
}





h1{
    font-size: 5rem;
    font-family: 'Qahiri', sans-serif;
}

p{
    font-size: 4rem;
    font-family: 'ABC', sans-serif;
    font-weight: bold;
    /* font-style: italic; */
}