body{
    /* background: url(https://www.geeklawblog.com/wp-content/uploads/sites/528/2018/12/liprofile-656x369.png) center center no-repeat; */
    background-size: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.outer-form{
    width: 30%;
    height: 300px;    
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(255,255,255,0.5);     */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 40px;

}

.outer-form img{ 
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.outer{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
}

input.first-input {
    width: cacl(100% - 35px);
    border-radius: 5px;
    font-size: 25px;
    padding: 15px;
}

button.first-button {
    width: 100%;
    border-radius: 5px;
    font-size: 25px;
    padding: 15px;
}



